{% extends "app/base.html" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Connexion</legend>
                            {{ form.as_p }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Connexion</button>
                        </div>
                    </form>
                </div>
          </div>
    </div>
{% endblock content %}