{% extends "app/base.html" %}
{% block content %}
<div class="container" style="height: calc(100vh - 56px);">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
      {% if perms.app.view_course %}
            {% for course in courses %}
                <p>{{ course.name }}</p>
            {% endfor %}
            {% else %}
                <h1>Vous n'avez pas la permission de voir les cours</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}